@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(0%);
	}
	65%{
		transform: translateY(0%);
	}
	80%{
		transform: translateY(0%);
	}
	95%{
		transform: translateY(0%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(0%);
	}
	65%{
		-webkit-transform: translateY(0%);
	}
	80%{
		-webkit-transform: translateY(0%);
	}
	95%{
		-webkit-transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
