.breadcrumbs {
  height: 80px;
  background-color: #f5f5f5;
  text-align: left;
  padding: 33px 0;
}
.breadcrumbs-item {
  display: flex;
  flex-wrap: wrap;
  li, a {
    color: #101010;
    font-family: "Yu Gothic", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 1;
  }
  li {
    position: relative;
    padding-right: 24px;
    margin-right: 15px;
    &::after {
      content: ">";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
    &:last-child {
      padding-right: 0;
      margin-right: 0;
      &::after {
        display: none;
      }
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
