// Comment
.comment {
  text-align: left;
  border-top: 1px solid #707070;
  padding-top: 65px;
  margin-top: 86px;
}
.comment-heading {
  color: #101010;
  font-family: $base-font-family;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 44px;
}
.comment-content {
  width: 100%;
  height: 265px;
  background-color: #f5f5f5;
  margin-bottom: 50px;
  padding: 54px 32px;
  p {
    color: #101010;
    font-family: "Yu Gothic", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.8px;
    line-height: 2;
  }
}
.comment-date {
  color: #101010;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  line-height: 1;
  margin-top: 70px;
  display: block;
}
.comment-form {
  text-align: right;
}
.comment-textarea {
  width: 100%;
  resize: none;
  height: 200px;
  border: 1px solid #101010;
  color: #101010;
  font-family: $base-font-family;
  font-size: 19px;
  letter-spacing: 1.9px;
  line-height: 1;
  font-style: italic;
  text-align: left;
  padding: 47px 29px;
  margin-bottom: 32px;
}
.comment-button {
  width: 210px;
  height: 70px;
  color: #ffffff;
  font-family: $base-font-family;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 40px 40px #101010 inset, 0 0 0 0 #101010;
  &:hover {
    box-shadow: 0 0 10px 0 #101010 inset, 0 0 10px 4px #101010;
    outline: 0;
    color: #101010;
  }
}
