.new-post {
  padding-bottom: 152px;
}
.new-post-header {
  text-align: right;
  margin-top:61px;
}
.new-post-btn {
  color: #101010;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1;
  text-decoration: underline;
  margin: 0 25px;
  outline:none;
  &:last-child {
    margin-right: 0;
  }
}
.new-post-form {
  text-align: left;
}
.new-post-date {
  display: block;
  color: #101010;
  font-family: $base-font-family;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.3em;
  line-height: 1;
  margin: 32px 0 20px;
}
.new-post-textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #707070;
  background-color: #ffffff;
  opacity: 0.99;
  color: #101010;
  font-family: "Yu Gothic", sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 66px;
  resize: none;
  padding: 11px 20px;
  margin-bottom: 23px;
}
.fileUploader {
  width: 100%;
  height: 540px;
  background-color: #d6d6d6;
  position: relative;
  overflow: hidden;
}
.fileContainer {
  background: none !important;
  box-shadow: none !important;
  position: absolute !important;
  padding: 0 !important;
  margin: 0 !important;
  justify-content: flex-start !important;
  bottom: 0;
  left: 0;
  border-radius: 0;
  p {
    margin:0;
    font-size: 0;
  }
}
 .chooseFileButton {
  margin: 0 !important;
  border-radius: 0 !important;
  width: 260px;
  height: 70px;
  background-color: #101010 !important;
  font-family: $base-font-family;
  font-size: 20px !important;
  font-weight: 700 !important;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.fileContainer .deleteImage {
  background: #101010 !important;
  font-size: 17px !important;
  top: 20px !important;
  right: 20px !important;
}
.new-post-content {
  width: 100%;
  height: 394px;
  border: 1px solid #707070;
  background-color: #ffffff;
  margin-top: 36px;
  color: #101010;
  font-family: "Yu Gothic", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.8px;
  line-height: 40px;
  padding: 14px 24px;
  resize: none;
}
.fileContainer .uploadPictureContainer {
  width: 100% !important;
  margin: -12px auto 0 !important;
  box-shadow: none !important;
  border: 0 !important;
  padding: 0 !important;
}
