.footer {
  height: 274px;
  background-color: #292929;
}
.footer-container {
  padding: 71px 0;
  position: relative;
}
.footer-logo {
  width: 138px;
  height: 28px;
  background: url("/assets/images/footer-logo.png");
  background-size: contain;
}
.footer-content {
  color: #fff;
  text-align: left;
  color: #ffffff;
  font-family: "Yu Gothic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  margin-top: 39px;
}
.copyright {
  height: 90px;
  background-color: #101010;
  color: #fff;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 1;
  padding: 37px 0;
}
.scroll-top {
  position: absolute;
  bottom: 0;
  right: 0;
}
.scroll-btn {
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  position: relative;
  color: #101010;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  line-height: 6;
  outline:none;
  text-transform: uppercase;
}
.scroll-arrow {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  background: url("/assets/images/icon.png");
  width: 16px;
  height: 9px;
  text-align: center;
  margin: 0 auto;
}
