.main-logo {
  width: 147px;
  height: 30px;
  background: url("/assets/images/logo.png");
  background-size: contain;
}
.header {
  height: 100px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 35px 0;
}
.form-header {
  color: #101010;
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 1;
  margin-top: 6px;
  outline:none;
  &:hover {
    text-decoration: underline;
  }
}
