.full-image {
  width: 100%;
}
.slide-container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.slide-content {
  text-align: right;
  width: 562px;
  padding-top: 26px;
  position: absolute;
  right: 160px;
  top: 53.2%;
  transform: translateY(-50%);
}
.slide-heading {
  display: block;
  margin-bottom: 33px;
  &.last{
    margin:0;
  }
}
.slide-text {
  font-size: 60px;
  padding: 12px 15px 5px 5px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1;
  color: #fff;
  font-family: $base-font-family2;
  background-color: #101010;
}
.slide-date {
  color: #101010;
  font-family: $base-font-family;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5.6px;
  line-height: 90px;
  margin-top: 7px;
  display: block;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
}



//
//
//
//
//

.slider-wrapper {
  overflow: hidden;
  width: 1440px;
  height: 667px;
}
.slider {
    width: 4320px;
}
.slider-container {
  position: relative;
}
.slider-item {
  position: relative;
  transition: all .7s cubic-bezier(0.68,-0.55,0.265,1.55);
  float: left;
  width: 1440px;
}

.hide {
  @extend .slider-item
}

.buttons-wrapper {
  width: 88.5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.buttons-wrapper .prev-button {
  background-image: url('/assets/images/prev.png');
  background-size: 100%;
  height: 26px;
  width: 17px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
}

.buttons-wrapper .next-button {
  background-image: url('/assets/images/next.png');
  @extend .prev-button;
}



/* indicators */

.indicators {
  bottom: 51px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  z-index: 2 !important;
  text-align: center;
}

.indicators li {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  opacity: 0.5;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s linear;
}

.indicators li:last-child {
  margin-right: 0;
}

.active-indicator {
  opacity: 1 !important;
  background: #101010 !important;
}


/* indicators */
