.login-section {
  padding: 84px 0;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 3;
  background: #fff;
  animation: slideDown ease 1s;
}
.login-heading {
  margin-bottom: 52px;
  text-align: left;
  color: #101010;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  text-transform: uppercase;
}
.login-form {
  width: 465px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}
.login-group {
  margin-bottom: 20px;
}
.login-label {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 1;
}
.login-input {
  border: 1px solid #101010;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
}
.login-btn {
  width: 100%;
  height: 70px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 40px 40px #101010 inset, 0 0 0 0 #101010;
  outline:none;
  &:hover {
    box-shadow: 0 0 10px 0 #101010 inset, 0 0 10px 4px #101010;
    outline: 0;
    color: #101010;
  }
}
.login-registration {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.8px;
  line-height: 90px;
  font-weight: 400;
}
.login-register-btn {
  font-weight: 700;
  outline:none;
  &:hover {
    text-decoration: underline;
  }
}
