.news {
  padding: 98px 0 151px;
}
.news-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 68px;
}
.news-heading {
  color: #101010;
  font-family: $base-font-family;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1;
}
.news-head-link {
  color: #101010;
  font-family: $base-font-family;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.22em;
  line-height: 1;
  text-decoration: underline;
  outline:none;
  margin-top: 13px;
  &:hover {
    text-decoration: none;
  }
}
.news-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-item {
  width: 340px;
  height: 430px;
  border: 1px solid #101010;
  padding: 38px 27px;
  margin-bottom: 60px;
  transition: 1s;
  &:hover {
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #d6d6d6;
  }
}
.news-content {
  color: #101010;
  text-align: left;
}
.news-date {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.22em;
  line-height: 1;
  margin-bottom: 13px;
  display: block;
}
.news-title {
  font-family: "Yu Gothic", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 32px;
}
.news-image-con {
  margin-bottom: 27px;
  overflow: hidden;
}
.news-image {
  transition: transform 1s;
}
.news-item-link {
  display: block;
  transition: 1s;
  &:hover {
    opacity: .5;
    .news-image {
      transform: scale(1.5);
    }
  }
}
.load-more-btn {
  margin-top: 8px;
}
.load-black {
  width: 340px;
  height: 70px;
  color: #ffffff;
  font-family: $base-font-family;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 40px 40px #101010 inset, 0 0 0 0 #101010;
  &:hover {
    box-shadow: 0 0 10px 0 #101010 inset, 0 0 10px 4px #101010;
    outline: 0;
    color: #101010;
  }
}

// News Detail
.news-detail {
  padding-bottom: 148px;
}
.new-detail-form {
  text-align: left;
}
.news-detail-title {
  color: #101010;
  font-family: "Yu Gothic", sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 1.8;
  margin: 26px 0 33px;
}
.news-detail-img {
  width: 100%;
}
.news-detail-content {
  margin-top: 50px;
  color: #101010;
  font-family: "Yu Gothic", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.8px;
  line-height: 40px;
  p {
    margin-bottom: 60px;
  }
}

.fileContainer {
  width: 100%;
  height: 100%;
}
