@font-face {
  font-family: "YuGothic", sans-serif;
  src: url('/assets/fonts/yugothib/yugothib.ttf');
}

@font-face {
  font-family: "YuGothic Light", sans-serif;
  src: url('/assets/fonts/yugothil/yugothil.ttf');
}
